.container {
  width: 1366px;
  padding-left: 100px;
  padding-right: 100px;
  margin: 0 auto;
  padding-bottom: 75px;
}

/* welcome */
.welcome {
  height: 670px;
  background-color: #636363;
  position: relative;
}

.header {
  padding-top: 40px;
  padding-left: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.label {
  width: 80px;
}

.menu {
  display: flex;
  justify-content: flex-end;
}

.menu_item {
  color: white;
  padding-right: 30px;
  font-family: "Work Sans", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.5s linear;
}

.menu_item:hover {
  color: violet;
}

.text {
  display: flex;
  flex-direction: column;
}

.over_text {
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  font-style: bold;
  color: white;
  margin: 0 auto;
  text-transform: uppercase;
  align-content: center;
  margin-bottom: 40px;
}

.title_text {
  color: white;
  font-family: "Playfair Display", serif;
  font-size: 48px;
  font-style: italic;
  font-weight: bold;
  margin: 0 auto;
}

.under_text {
  color: white;
  font-family: "Playfair Display", serif;
  font-size: 48px;
  font-style: italic;
  text-transform: lowercase;
  margin: 0 auto;
}

/* about */

.about {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.title {
  margin: 0 auto;
  font-family: "Playfair Display", serif;
  font-size: 38px;
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 45px;
}

.text_about {
  margin: 0 auto;
  font-family: "Work Sans", sans-serif;
  font-size: 15px;
  color: #636363;
  text-align: center;
  display: inline-block;
}

.sign {
  margin: 0 auto;
}

.img_about {
  margin-top: 45px;
}

/* statistics */

.statistics {
  height: 200px;
  background: url(/images/statistics.jpg) center no-repeat;
  background-size: cover;
  padding-top: 120px;
}

.statistics_names {
  display: flex;
  justify-content: space-around;
}

.far,
.fas {
  color: white;
}

.completed,
.hours,
.feedbacks,
.happy_clients {
  display: flex;
}

.names {
  color: white;
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  padding-left: 35px;
  padding-top: 13px;
  letter-spacing: 3px;
}

/* projects */

.projects {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 100px;
}

.gallery {
  display: flex;
  justify-self: space-around;
  padding-top: 30px;
  flex-wrap: wrap;
}

.author_img {
  width: 370px;
  height: 250px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.author {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  margin: 0 auto;
  padding-bottom: 25px;
  position: absolute;
  top: 100px;
  left: 120px;
  z-index: 1;
}

.prof {
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  margin: 0 auto;
  position: absolute;
  top: 140px;
  left: 135px;
  z-index: 1;
}

.img_proj {
  padding: 30px;
}

/* reviews */
.reviews_block {
  background: url(/images/statistics.jpg) center no-repeat;
  background-size: cover;
  height: 300px;
  padding-top: 175px;
}

.quote {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  color: #fff;
  font-style: italic;
  margin: 0 auto;
  padding-bottom: 40px;
  text-align: center;
}

.author_quote {
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  color: #fff;
  margin: 0 auto;
  text-align: center;
}

/* blog */

.blog {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  padding-bottom: 60px;
}

.article {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.theme {
  width: 370px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: color 0.2s linear;
}

.theme:hover {
  box-shadow: 0 28px 56px rgba(0, 0, 0, 0.5), 0 20px 20px rgba(0, 0, 0, 0.44);
  cursor: pointer;
  color: rgb(108, 107, 124);
}
.img-article {
  position: relative;
}
.title-article {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  padding: 15px 25px;
}

.data-article {
  font-family: "Work Sans", sans-serif;
  font-size: 12px;
  padding: 15px 25px;
  text-transform: uppercase;
}

.text-article {
  font-family: "Playfair Display", serif;
  font-size: 15px;
  padding: 15px 25px;
}
.name-article {
  color: white;
  position: absolute;
  bottom: 40px;
  left: 10px;
  z-index: 1;
  background-color: black;
  height: 30px;
  width: 80px;
  background-size: 80px;
  font-family: "Work Sans", sans-serif;
  font-size: 12px;
  margin: 0 auto;
}

/* contacts */

.contacts {
  max-width: 1366px;
  border-top: 1px solid #ececec;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contact_info {
  width: 360px;
}

.contact_title {
  font-family: "Playfair Display", serif;
  font-size: 38px;
  font-weight: bold;
  padding-bottom: 50px;
  padding-top: 110px;
}

.contsct_text {
  font-family: "Work Sans", sans-serif;
  font-size: 15px;
  color: #5f5f5f;
}
.info_company {
  font-family: "Work Sans", sans-serif;
  font-size: 15px;
  color: #5f5f5f;
  padding-top: 40px;
  padding-bottom: 10px;
}

.send_message {
  padding-top: 110px;
  max-width: 671px;
}

.input_info {
  font-family: "Work Sans", sans-serif;
  font-size: 15px;
  color: #5f5f5f;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  height: 48px;
  width: 320px;
  margin-bottom: 30px;
}

.input_name {
  margin-right: 27px;
}

.input_title {
  width: 671px;
}

.input_comment {
  width: 671px;
  height: 170px;
}

button {
  width: 180px;
  height: 50px;
  background-color: black;
  color: white;
  font-family: "Work Sans", sans-serif;
  font-size: 15px;
}

/* footer_info */

.footer_block {
  padding-top: 100px;
  background-color: black;
  color: white;
}

.footer_info {
  display: flex;
  justify-content: space-around;
}

.about_us {
  width: 360px;
}

.footer_title {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 40px;
}

.footer_text {
  font-family: "Playfair Display", serif;
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.latest_twits {
  width: 366px;
}

.twit {
  padding-bottom: 40px;
}

.inst {
  width: 373px;
}

.fotos_inst {
  padding-right: 10px;
  padding-bottom: 10px;
}
/* footer */

footer {
  background-color: black;
  border-top: 1px solid #ececec;
  display: flex;
  height: 69px;
}

.footer_end {
  font-family: "Work Sans", sans-serif;
  font-size: 10px;
  color: white;
  text-align: center;
  padding-top: 30px;
}
